body{
    background-color:black;
}
.custom{
   /* background: rgba(12, 11, 9, 0.6);*/
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: #0c0b09;

}
.custom-input{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;

}